html {
  font-family: 'Poppins', 'Asap', sans-serif;
  z-index: 1;
}

.themeButtons {
  position: fixed;
  top: 5px;
  left: 10px;
  z-index: 2;
}

.colorPicker,
.colorPicker-container {
  position: fixed;
  left: 5px;
  top: 5px;
  z-index: 2;
  box-shadow: 0 0 5px #f1f1f1;
  border-radius: 10px;
}

#header {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: -15px;
  left: 0px;
  z-index: 2;
  height: 50px;
  width: 100%;
  border: 1px solid #343763;
  justify-content: center;
  margin: 15px 20px;
  padding: 10px 20px;
  background-color: #343763;
  left: -20px;
  box-shadow: 0 0 10px #1a1a1a;
  color: #f1f1f1;
  text-decoration: none;
}

.sidebar-list img{
  position: relative;
  display: flex;
  top: 10px;
  margin: 20px;
  padding: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 5px;
  z-index: 2;
  border: 2px solid #343763;
}

.sidebar-list {
  position: fixed;
  top: 50px;
  left: 0;
  width: 205px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: #f1f1f1;
  color: #1a1a1a;
  border: 0 solid #1a1a1a;
  box-shadow: 0 0 15px #1a1a1a;
  text-decoration: none;
}

.sidebar-list a {
  position: relative;
  left: -5px;
  text-decoration: none;
  padding: 5px;
  z-index: 2;
  font-size: 1.2rem;
  color: #f1f1f1;
}

.sidebar-list i {
  position: relative;
  left: -5px;
  text-decoration: none;
  color: #1a1a1a;
  padding: 5px;
  z-index: 2;
  font-size: 1.4rem;
}


.sidebar-list button {
  position: relative;
  text-decoration: none;
  color: #1a1a1a;
  margin: 5px 0;
  z-index: 2;
  top: 50px;
}

.mainHome {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 55px;
  width: 100vw;
  height: 100vh;
  left: 206px;
  z-index: 2;
}

#apps {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: -70px;
  bottom: 10px;
  left: 10px;
  width: 100vw;
  /* height: 100vh; */
  left: 10px;
  z-index: 2;
  margin: 10px 10px;
}

.apps-container {
  position: relative;
  text-align: center;
  width: 88vw;
  height: 100vh;
  box-shadow: 0 0 10px #1a1a1a;
  display: flex;
  flex-wrap: wrap;
  top: -5px;
  z-index: 2;
}

.apps-icon-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 115px;
  text-align: center;
  margin: 5px 15px 5px 15px;
  padding: 5px 15px 5px 15px;
  color: #f1f1f1;
  margin: -20px 1px;
  padding: -20px -5px;
}

img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin: 20px -10px;
  transition: all .2s ease-in-out;
  background-color: #f1f1f1;
}

img:hover {
  scale: 1.2;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

#login-container {
  position: relative;
  background-color: transparent;
  color: #f1f1f1;
  text-decoration: none;
  z-index: 1;
}

#login {
  position: relative;
  font-size: 1.1rem;
  top: -49px;
  right: -1090px;
  z-index: 1;
  width: 300px;
  height: 45px;
  background-color: transparent;
  color: #f1f1f1;
  text-decoration: none;
  border-radius: 10px;
}

#login div {
  position: relative;
  background-color: transparent;
  color: #f1f1f1;
  text-decoration: none;
  z-index: 1;
  top: -49px;
  right: 10px;
}

#search {
  position: relative;
  font-size: 1.1rem;
  top: -46px;
  left: 100px;
  z-index: 1;
  width: 455px;
  height: 40px;
  border-radius: 10px;
}